* {
    box-sizing: border-box;
    margin: auto 0;
    padding: 0;
}


/*---------------------cabecera--------------------------------*/

/*contenedor principa de la cabecera - nav y logo*/

.cabecera {
    width: 100%;
    height: 5rem;
    display: flex;
    text-decoration: none;
}


.nav-escritorio {
    width: 100%;
    height: 5rem;    
    margin-right: 6.94%;
}

/* Estilo para el logo bd*/
.cabecera img {
    width: 2.25rem;
    height: 2.25rem;
    float: left;
    margin-left: 6.94%;
    margin-top: 1.52%;
}

.nav-escritorio ul{
width: 100%;
display: flex;
justify-content: flex-end;
}

/*Estilos para la lista desordenada + ubicacion derecha en la cabecera*/
.nav-escritorio ul li {
  
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem;
    /*1rem=16px*/
    color: #060A24;
    letter-spacing: 0;
    line-height: 1.75rem;
    display: inline;
    cursor: pointer;
    margin-top: 1.625rem;
    margin-left: 5%;
}

.nav-escritorio ul li :hover {
    color: #00F3BB;
    text-decoration: line-through;
}

.nav-escritorio a {
    text-decoration: none;
    color: #060A24;
}

/*----MENU HAMBURGUESA PARA MOBILE--------*/

/*desabilita el menu hamburguesa-3 lineas- cuando esta activo menu escritorio*/

#hamburguesa {
    display: none;
}

/*desabilita es decir no despliega menu hamburguesa cuando esta activo menu escritorio, si no se mostrarian ambos*/

.menu-mobile-ham {
    display: none;
}

/*forma las lineas del menu hamburguesa*/

.menu-mobile-ham span {
    width: 1.125rem;
    height: 0.125rem;
    background-color: #000000;
    transition: 0.5s ease;
    display: block;
}

/*contenedor que se despiega y contiene los ul*/

.menu-mobile {
    width: 100%;
    position: absolute;
    top: 2.81rem;
    right: 0;
    transition: all 0.5s ease;
    overflow-y: hidden;
    text-decoration: none;
}

/*ESTILOS PARA UL LI DEL MENU*/
.menu-mobile ul {
    display: flex;
    flex-direction: column;
    background-color: #0000ec;
    padding-left: 0.625rem;
    cursor: pointer;
}

.menu-mobile ul li a {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem;
    color: #ffffff;
    letter-spacing: 0;
    line-height: 1.75rem;
    display: flex;
    align-items: center;
    height: 3.437rem;
    text-decoration: none;
}

.menu-mobile ul li a:hover {
    color: #00F3BB;
    text-decoration: line-through;
}

.ham-1 {
    transform-origin: 10% 0%;
    /*permite indicar donde se intersectan las lineas*/
    margin-bottom: 0.187rem;
}

.ham-2 {
    margin-bottom: 0.187rem;
}

.ham-3 {
    transform-origin: 10% 100%;
    /*permite indicar donde se intersectan las lineas*/
}

input:checked~label .ham-1 {
    transform: rotate(45deg);
    /*me permite inclinar las lineas horizontales*/
}

input:checked~label .ham-2 {
    /*cuando forma la cruz hace que esta linea no se muestre*/
    opacity: 0;
}

input:checked~label .ham-3 {
    transform: rotate(-45deg);
    /*me permite inclinar las lineas horizontales*/
}



/*---------------Seccion Principal---------HELLO WORLD--------*/

#box-pricipal {
    width: 100%;
    height: 23.06rem;
}

.desc-mobile {
    visibility: hidden;
}

.hello {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 4rem;
    /* para convertir px a rem 64/16=4rem ya que 1rem=16px*/
    color: #060A24;
    letter-spacing: 0;
    margin-left: 13.88%;
    margin-top: 8.33%;
    display: inline-block;
    letter-spacing: 0;
}

.punto-azul {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 4rem;
    color: #0000EC;
    letter-spacing: 0;
    display: inline-block;

}

.desc-sec-pri {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 16px;
    color: #060A24;
    letter-spacing: 0;
    line-height: 1.5rem;
    margin-left: 13.88%;
}

.boton-1 {
    width: 14.13rem;
    height: 3.5rem;
    background: #00F3BB;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.125rem;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 1,5rem;
    border: none;
    margin-left: 13.88%;
    margin-top: 3.88%;
    font-weight: 500;
}

.boton-1:hover {
    color: #FFFFFF;
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
}

/*--------------Seccion Episodios----------------------*/

.caja-episodio {
    width: 100%;
    height: 65.17rem;
    position: relative;
}


.mascara-diagonal-1 {
    clip-path: polygon(100% 0%, 100% 85%, 0% 100%, 0% 10%);
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
}

.caja-episodio span {
    margin-top: 12.91%;
    margin-left: 13.88%;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3rem;
    color: #FFFFFF;
    letter-spacing: 0;
    display: inline-block;
}



.box-podcast {
    width: 100%;
    height: 535px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    position: relative;
    top: 1.625rem;
}

.box-podcast iframe {
    width: 40.55%;
    height: 14.5rem;
    border: none;
    justify-self: center;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
}


/*-----------------------SECCION NOSOTROS-------------*/

/*CONTENEDOR SECCION NOSOTROS*/

.nosotros {
    width: 100%;
    height: 30.71rem;
    display: flex;
    position: relative;
}

.box-phone {
    width: 31.77%;
    height: 41.25rem;
    position: relative;
    top: -34.27%;
    margin-left: 13.88%;
}

.nosotros .box-nos-textos {
    width: 29rem;
    height: 19rem;
    display: flex;
    flex-direction: column;
    margin-top: 1.275rem;
}

/*Estilos para foto phone de seccion nosotros*/

.nosotros .phone {
    width: 457.6px;
    height: 660px;
}


/*ESTILOS TITULO "DE DONDE VENIMOS" seccion nosotros phone*/

.nosotros .nos-titulo {
    width: 24.94rem;
    height: 3.875rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3rem;
    color: #060A24;
    letter-spacing: 0;
    margin-left: 6rem;
    margin-top: 1.41%;
}

/*ESTILOS TEXTO DESCRIPCION SECCION NOSOTROS */

.nosotros .nos-desc {
    width: 29rem;
    height: 12.75rem;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem;
    color: #060A24;
    letter-spacing: 0;
    line-height: 1.5rem;
    margin-left: 6rem;
}

/*-------------------SECCION INVITADOS/AS-----------------------------------*/

/*CONTENEDOR PRICIPAL SECCION INVITADOS*/

.invitados {
    width: 100%;
    height: auto;
    /*51.63rem;*/
}

/*ESTILOS TITULO SECCION INVITADOS*/
.invitados p {
    width: 30.06rem;
    height: 3.88rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3rem;
    color: #060A24;
    letter-spacing: 0;
    margin-left: 13.88%;
    margin-top: 2rem;
    margin-bottom: 2.25rem;
    display: inline-block;
}

/*CONTENEDOR FOTOS DE INVITADOS/AS*/

.invitados .fotos-invitados {
    width: 100%;
    height: 45.6%;
    line-height: 0;
    font-size: 0;
    display: flex;
    flex-wrap: wrap;
}

.invitados img {
    width: 33.33%;
    height: 22.75rem;
    display: block;
}

/*--------------------------SECCION TEMAS----------------*/

/*CONTENEDOR PRICIPAL SECCCION TEMAS*/
.temas {
    width: 100%;
    height: 26.63rem;
}

/*TITUTLO SECCION TEMAS -ESTILOS-*/

.titulo-top {
    width: 50%;
    height: 3.87rem;
    margin-left: 13.88%;
    margin-top: 4rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3rem;
    color: #060A24;
    letter-spacing: 0;
    display: inline-block;
}

.box-topicos {
    width: 100%;
    height: 15.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    margin-top: 3.5rem;
}

/*CONTENEDOR DE LOS ICONOS*/
.box-iconos {
    width: 15rem;
    height: 11.125rem;
}


/*TAMAÑOS DE LOS ICONOS*/
.box-iconos img {
    width: 104px;
    height: 104px;
    margin-left: 3rem;
}

/*ESTILO DE LOS P QUE CONTIENEN LAS DESCRIPCIONES DE LOS ICONOS*/
.box-topicos .box-texto-imagen {
    width: 13.75rem;
    height: 4rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.5rem;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    font-weight: 600;
    display: inline-block;
}

/*-------------------*SECCION NOVEDADES*------------------------------*/

/*ESTILOS A CONTENEDOR GENERAL DE LA SECCION NOVEDADES*/

.novedades {
    width: 100%;
    height: 32.375rem;
}


/*MASCARA AZUL PARA HACER LA UNICA DIAGONAL DE LA SECCION NOVEDADES*/

.mascara-diagonal-2 {
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 35%);
    background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
}

.novedades div {
    width: 100%;
    height: 32.375rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.novedades span {
    height: 3.875rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 3rem;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    display: inline-block;
    margin-top: 64px;
    margin-bottom: 34px;
}

.novedades .boton-2 {
    height: 3.5rem;
    width: 23.96rem;
    border: none;
    background: #00F3BB;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.12rem;
    font-weight: 500;
    color: #060A24;
    letter-spacing: 0;
    text-align: center;
    line-height: 1.5rem;
    margin: 0;
}

/*hover a boton conoce mas*/

.boton-2:hover {
    background-image: linear-gradient(225deg, #0000FE 0%, #00F0B8 100%);
    color: #FFFFFF;
}

/*------------------Footer-----------------------------------*/

/*contenedor principal*/
.pie-pagina {
    width: 100%;
    height: 5.93rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*CONTENDOR  DEL SPAN - TEXTO DEL FOOTER*/
.texto-pie {
    width: auto;
    height: 1.75rem;
    margin-left: 6.25rem;
}

/*Estilo PARA TEXTO DE FOOTER*/
.pie-pagina span {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem;
    color: #060A24;
    letter-spacing: 0;
    line-height: 1.75rem;
}

/*CONTENEDOR DE ICONOS SOCIALES*/
.box-iconos-footer {
    width: 16.25%;
    height: 1.75rem;
    display: flex;
    justify-content: space-between;
    margin-right: 6.25rem;
}

/*ESTILO DE cada icono TAMAÑO Y COLOR*/
.box-iconos-footer i {
    width: 1.13rem;
    height: 1.75rem;
    color: #060A24;
}

/*selecciona a cada icono le saca el subrayado del link de pagina a direccionar que pone por defecto*/

.box-iconos-footer a {
    text-decoration: none;
}

/*hover a cada icono social*/

.box-iconos-footer i:hover {
    color: rgba(0, 243, 187, 1);
}